    <!-- Top Bar -->
    <section id="top-bar" class="p-3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <i class="fas fa-phone"></i> +27 64 903 4884
            </div>
            <div class="col-md-4">
              <i class="fas fa-envelope-open"></i> brandon@thebacklogman.com
            </div>
            <div class="col-md-4">
              <div class="social text-right">
                <a href="https://www.linkedin.com/in/vnkbrand/">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://angel.co/vnkbrand">
                  <i class="fab fa-angellist"></i>
                </a>
                <a href="https://thebacklogman.com/">
                  <i class="fab fa-user-circle"></i>
                </a>
                <a href="https://github.com/vnkbrand">
                  <i class="fab fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>